.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Header ----------------------------------------------- */

.header {
  margin-top: 10rem;
}

/* ReviewCard ------------------------------------------- */

.reviewImg {
  width: 15rem;
  height: auto;
}

/* Reviews -----------------------------------------------*/

.reviewsList li {
  list-style-type: none;
}

.blueLikeButton {
  background-color: blue;
}

/* SingleReview ------------------------------------------*/

.singleReview img {
  width: 15rem;
  height: auto;
}

/* Comments ----------------------------------------------*/

.hideComments {
  position: absolute;
  left: -2000px;
}

.showComments ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showComments ul li {
  border: 1px solid black;
  display: flex;
  width: 15rem;
  flex-direction: column;
}

/* CommentAdder ------------------------------------------ */

#commentArea::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
}

/* NavBar ------------------------------------------------ */

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: orange;
  border: 1px solid black;
  border-left: none;
  padding: 0;
}

.navBar ul {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
}

.navBar ul li {
  padding: 1rem;
}

.noUnderline {
  color: black;
  text-decoration: none;
}

.loginButtonText {
  color: black;
  text-decoration: none;
  font-size: 0.6rem;
}

.navUserButton {
  border: 1px solid black;
  background-color: transparent;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.smallUserIcon img {
  width: 50px;
  height: auto;
}

.smallUserIcon p {
  margin-top: 0;
}

.smallUserIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CategorySort --------------------------------- */

.categoryItem {
  list-style-type: none;
}

.categoryList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
