.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/game-background.jpg");
}

:root {
  --green: #f1ffc4;
  --light-blue: #c6e2e9;
  --dark-blue: #a7bed3;
  --pink: #ffcaaf;
  --brown: #dab894;
}

/* Header ----------------------------------------------- */

.header {
  margin-top: 5rem;
  margin-bottom: 1rem;
  font-family: "orbitron", sans-serif;
  background-color: rgba(198, 226, 233, 0.9);
  text-shadow: #ffcaaf -2px 2px;
}

/* ReviewCard ------------------------------------------- */

.reviewImg {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.ReviewCard {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(198, 226, 233, 0.95);
  box-shadow: 1px 1px 5px 1px black;
}

.ReviewCard a:link {
  color: black;
  text-decoration: none;
}

.ReviewCard a:visited {
  color: black;
  text-decoration: none;
}

.reviewCardTitle {
  padding: 0.5rem;
  font-family: "orbitron", sans-serif;
}

.reviewCardCategory {
  padding: 0.3rem;
  padding-top: 0;
}

.reviewCardBody {
  padding: 0.3rem;
  line-height: 1.25rem;
  background-color: aliceblue;
  margin: 0.3rem;
  border-radius: 20px;
}

.reviewCardVotes {
  padding: 0.2rem;
}

.likeButton {
  margin: 0.2rem;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  box-shadow: 1px 1px 4px 1px black;
}

.likeButton:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 5px white;
}

/* Reviews -----------------------------------------------*/

.selectAndOrder {
  display: inline-block;
  margin: 0.5rem;
  margin-top: 1.7rem;
  margin-bottom: 0;
  border: 4px solid var(--dark-blue);
  background-color: #ffcaaf;
  border-radius: 20px;
  padding: 0.2rem;
}

.selectAndOrder select {
  background-color: #ffcaaf;
  border: none;
  font-family: "chakra petch", sans-serif;
}

.selectAndOrder:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 5px white;
}

.selectAndOrder button {
  font-size: 1.1rem;
  background-color: #c6e2e9;
  padding: 0.1rem;
  margin: 0.1rem;
  border-radius: 10px;
}

.selectAndOrder button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 5px white;
}

.reviewsList li {
  list-style-type: none;
}

.blueLikeButton {
  background-color: var(--dark-blue);
}

.categorySortAndReviews {
  background-image: url("./images/game-background.jpg");
}

.reviewsList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* SingleReview ------------------------------------------*/

.singleReview img {
  width: 15rem;
  height: auto;
}

.reviewCardDesigner {
  font-weight: 400;
  font-size: 0.75rem;
}

.reviewCardOwner {
  margin: 0.3rem;
}

.commentsButton {
  margin: 0.3rem;
  background-color: var(--pink);
  border: 3px solid var(--green);
  padding: 0.3rem;
  border-radius: 20px;
  font-weight: 800;
}

.commentsButton:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 5px white;
}

/* Comments ----------------------------------------------*/

.hideComments {
  position: absolute;
  left: -2000px;
}

.showComments ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showComments ul li {
  border-radius: 20px;
  display: block;
  width: 90%;
  text-align: start;
  background-color: #ffcaaf;
  margin-top: 0.5rem;
}

.commentAuthor {
  font-size: 0.9rem;
  padding: 0.3rem;
  padding-left: 0.7rem;
  padding-top: 0.5rem;
}

.commentBody {
  font-size: 0.75rem;
  padding-left: 0.75rem;
  margin-bottom: 0.75rem;
}

.deleteCommentButton {
  margin: 0.5rem;
  margin-left: 0.75rem;
  padding: 0.2rem;
  font-size: 0.75rem;
  background-color: red;
  color: white;
  border-radius: 20px;
  font-weight: 800;
}

.deleteCommentButton:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 5px white;
}

/* CommentAdder ------------------------------------------ */

#commentArea::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
}

.commentAdder {
  display: flex;
}

.commentLabel {
  padding: 0.2rem;
  font-size: 0.75rem;
}

.commentArea {
  width: 90%;
  margin-right: 0.2rem;
}

.commentArea:hover {
  cursor: text;
  box-shadow: 1px 1px 5px 5px white;
}

.commentButton {
  margin-right: 0.3rem;
  font-size: 0.75rem;
  padding: 0.2rem;
  background-color: var(--green);
  font-weight: 800;
}

.commentButton:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 5px white;
}

/* NavBar ------------------------------------------------ */

.navBar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(198, 226, 233, 0.98);
  border: 5px solid var(--pink);
  border-left: none;
  border-right: none;
  padding: 0;
}

.navBar ul {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  color: var(--dark-blue);
}

.navBar ul li {
  padding: 1rem;
}

.noUnderline {
  color: black;
  text-decoration: none;
  font-family: "chakra petch", sans-serif;
  padding: 0.5rem;
  border-radius: 50%;
}

.noUnderline:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 5px white;
}

.navUserButton {
  position: sticky;
  float: right;
  max-width: 68.97px;
  max-height: 45px;
  top: 0;
  cursor: pointer;
  background-color: var(--pink);
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  border: 2px solid var(--green);
  margin: 0.4rem;
  border-radius: 50%;
}

.navUserButton:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 5px white;
}

.loginButtonText {
  color: black;
  text-decoration: none;
  font-size: 0.6rem;
  letter-spacing: 2px;
  font-weight: 800;
  font-family: "chakra petch", sans-serif;
}

.smallUserIcon img {
  max-height: 25px;
  max-width: 65px;
  clip-path: circle(50px at 50% 50%);
}

.smallUserIcon p {
  margin-top: 0;
  font-size: 0.5rem;
  color: black;
}

.smallUserIcon {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CategorySort --------------------------------- */

.categoryItem {
  list-style-type: none;
  padding: 0.5rem;
  background-color: rgba(198, 226, 233, 1);
  border: 2px solid var(--pink);
  margin: 0.5rem;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px black;
}
.categoryItem a:link {
  text-decoration: none;
  font-family: "chakra petch", sans-serif;
  color: black;
}

.categoryItem a:visited {
  color: black;
}

.categoryItem:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 5px white;
}

.categoryList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: space-around;
}

.introText {
  border: 5px solid var(--light-blue);
  font-family: "chakra petch", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  background-color: rgba(255, 202, 175, 1);
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 2px black;
}

/* Users ----------------------------------------*/

.userInstructions {
  background-color: rgba(255, 202, 175, 0.9);
  padding: 0.5rem;
  font-family: "chakra petch", sans-serif;
}

.usersList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.userCard {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(198, 226, 233, 0.95);
  box-shadow: 1px 1px 5px 1px black;
}

.highlightUserCard {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgba(198, 226, 233, 0.95);
  box-shadow: 1px 1px 5px 5px var(--pink);
}

.userAvatar {
  max-height: 219px;
  max-width: 304px;
  border-radius: 20px;
}

.userCardName {
  font-family: "orbitron", sans-serif;
  padding: 0.2rem;
}

.userCardUsername {
  padding: 0.2rem;
}

.username {
  font-family: "orbitron", sans-serif;
  font-weight: 800;
}

.logoutButton {
  margin-top: 0.5rem;
  padding: 0.4rem;
  background-color: var(--light-blue);
  border: 3px solid var(--pink);
  border-radius: 20px;
  font-family: "chakra petch", sans-serif;
}

.logoutButton:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px 5px white;
}

/* Error Handling */

.BadPathMessage {
  background-color: rgba(255, 202, 175, 1);
  color: black;
  font-family: "chakra petch", sans-serif;
  font-size: 1.2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 0.5rem;
  margin-top: 5rem;
  border: 5px solid var(--light-blue);
  border-radius: 20px;
}

.loading {
  background-color: rgba(255, 202, 175, 1);
  color: black;
  font-family: "orbitron", sans-serif;
  font-size: 1.2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  padding: 0.5rem;
  margin-top: 5rem;
  border: 5px solid var(--light-blue);
  border-radius: 20px;
}
