.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* ReviewCard ------------------------------------------- */

.reviewImg {
  width: 15rem;
  height: auto;
}

/* Reviews -----------------------------------------------*/

.reviewsList li {
  list-style-type: none;
}

.blueLikeButton {
  background-color: blue;
}

/* SingleReview */

.singleReview img {
  width: 15rem;
  height: auto;
}

/* Comments */

.hideComments {
  position: absolute;
  left: -2000px;
}

.showComments ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.showComments ul li {
  border: 1px solid black;
  display: flex;
  width: 15rem;
  flex-direction: column;
}
